<div class="hgroup">
    <div class="label"> Contact </div>
</div>

<div fxLayout="column wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="coordie">
        <p> {{ title.name }} </p>
        <p> {{ title.phone }} </p>
        <a href="mailto:{{ title.email }}@iitk.ac.in?cc={{ title.email }}@iitk.ac.in">{{ title.email }}@iitk.ac.in</a>
    </div>
</div>
<div fxLayout="colunm wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="coordie">
        <p> {{ title.name }} </p>
        <p> {{ title.phone }} </p>
        <a href="mailto:{{ title.email }}@iitk.ac.in?cc={{ title.email }}@iitk.ac.in">{{ title.email }}@iitk.ac.in</a>
    </div>
</div>