  .hgroup {
    text-align: center;
    margin-top: 14vh;
  }
  
  h3 {
    background-color: rgb(22, 22, 22);
    background-color: rgba(35, 10, 42, 0.85);
    margin: 0 auto;
    padding: 10px;
    color: white;
  }
 .fram,.row {
    margin: 10px;
    padding: 25px;
    background-color: rgb(22, 22, 22);
    background-color: rgba(22, 22, 22, 0.85);
    text-align: center;
  color: blanchedalmond;}
  h4{
    margin: 10px;
    padding: 25px;
    background-color: rgb(22, 22, 22);
    background-color: rgba(22, 22, 22, 0.85);
    text-align: center;
  color: blanchedalmond;
  }
  .form {
    background-color: rgb(22, 22, 22);
    background-color: rgba(22, 22, 22, 0.86);
    padding: 30px;
    width: 40vw;
  }
  .bottom{
    margin-bottom: 14vh;
  }