  .hgroup {
    text-align: center;
    margin-top: 8vh;
  }
  .wrapper,.container-fluid {
    width: 100vw;
  }
  
  .form,.container-fluid {
    background-color: rgba(72, 45, 194, 0.86);
    padding: 30px;
    color: white;
    text-align: center;
    width: 40vw;
    border-radius: 12px;
    }
    .heading{
      background-color: rgba(68, 67, 87, 0.664);
      padding: 10px;
      color: white;
      text-align: center;
      width: 40vw;
    }
  
  .label{
    background-color: rgba(35, 10, 42, 0.85);
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
    
  }