<div class="topgap"></div>
<div class="hgroup">
    <div class="label"> Register </div>
</div>
<p> Guidelines </p>
<div class="fram">
      <ul>
        <li> To register your band for the prelims fill in the details of the band.</li>
        <li> In the city section fill in the city where you want to register for prelims.</li>
        <li> You need to upload 2 of your Original Compoitions (OCs) on Dropbox/Google Drive and fill in the link in the
          mentioned section. Make sure the link can be viewed by anyone who has it.
        </li>
        <li> In case the band doesn’t have 2 OCs you can upload one OC and one cover song.</li>
        <li> You can also send us links of your songs on Reverbnation instead of Dropbox/Google Drive.</li>
        <li> Please upload the best quality possible as these songs will be the short listing criteria for Prelims.</li>
        <li> You can also put the additional links such as your youtube links in the Other link section. If you have
          multiple such links, send all links separated by a comma.
        </li>
      </ul>
    </div>
      
      <div class="container-fluid">
          <p> Registration Form </p>
          <form #userForm="ngForm">
              {{userForm.value | json}}
                <div class="form-group col-md-12">
                <label for="bandName">Band Name</label>
                <input type="text" class="form-control" id="bandName" placeholder="Band Name" name="bandname" ngModel>
                </div>
                <div class="form-group col-md-12">
                <label for="bandEmail">Email address</label>
                <input type="email" class="form-control" id="bandEmail" aria-describedby="emailHelp" placeholder="Enter email"
                       name="email" ngModel>
                </div>

                <div class="form-group col-md-12">
                    <label>City Name</label>
                    <select class="custom-select" ngModel>
                        <option selected>City</option>
                        <option *ngFor="let topic of topics">{{ topic }}</option>
                    </select>
                </div>
            
                <div class="form-group col-md-12">
                    <label>Members</label>
                    <select class="custom-select" ngModel>
                        <option selected>Member</option>
                        <option *ngFor="let member of members">{{ member }}</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                <label for="phone"> Contact No. </label>
                <input type="text" class="form-control" id="phone" placeholder="" name="phone"
                      required pattern="((\+?(91))|0)?\d{10}" ngModel>
                 </div>
                 <div class="form-group col-md-12">
                 <label> Alternate No. </label>
                 <input type="text" class="form-control" id="altphone" placeholder="" name="altphone"
                       pattern="((\+?(91))|0)?\d{10}" ngModel>
                 </div>
                 <div class="form-group col-md-12">
                 <label for="songLink"> Songs Link </label>
                 <input type="text" class="form-control" id="songLink" placeholder="http://yoursong.com" name="songs"
                 ngModel   >
                 </div>
                 <div class="form-group col-md-12">
                 <label for="moresongLink"> More Songs Link </label>
                 <input type="text" class="form-control" id="moresongLink" placeholder="http://yoursong.com"
                       name="moresongs"        ngModel    >
                 </div>
                 <div class="form-group col-md-12">
                 <label for="fbLink"> Facebook Link </label>
                 <input type="text" class="form-control" id="fbLink" placeholder="https://www.facebook.com/junoon.iitk"
                       name="fblink" ngModel
                       >
                 </div>
                 <div class="form-group col-md-12">
                 <label for="otherLink"> Other Links </label>
                 <input type="text" class="form-control" id="otherLink" placeholder="" name="otherlinks" ngModel
                       >
                 </div>

                 <div class="form-check mb-3">
                     <input class="form-check-input" type="checkbox" ngModel>
                     <label class="form-check-label">
                         All Set
                     </label>
                 </div>

                 <button type="submit" class="btn btn-primary mx-auto">
                   Submit Form
                 </button>
          </form>
      </div>
     
      