<div class="topgap"></div>
<div class="hgroup">
    <h3> Register </h3>
</div>
<h4> Guidelines </h4>
<div class="fram">
      <ul>
        <li> To register your band for the prelims fill in the details of the band.</li>
        <li> In the city section fill in the city where you want to register for prelims.</li>
        <li> You need to upload 2 of your Original Compoitions (OCs) on Dropbox/Google Drive and fill in the link in the
          mentioned section. Make sure the link can be viewed by anyone who has it.
        </li>
        <li> In case the band doesn’t have 2 OCs you can upload one OC and one cover song.</li>
        <li> You can also send us links of your songs on Reverbnation instead of Dropbox/Google Drive.</li>
        <li> Please upload the best quality possible as these songs will be the short listing criteria for Prelims.</li>
        <li> You can also put the additional links such as your youtube links in the Other link section. If you have
          multiple such links, send all links separated by a comma.
        </li>
      </ul>
    </div>
      <h4> Register </h4>
      <div *ngFor="let place of places"><div>{{place.name}}</div><div>{{place.location}}</div></div>