<div class="hgroup">
    <div class="label"> Register </div>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap class="wrapper">
<div class="heading"> Guidelines </div>
<div class="rules form">
      <ul>
        <li> To register your band for the prelims fill in the details of the band.</li>
        <li> In the city section fill in the city where you want to register for prelims.</li>
        <li> You need to upload 2 of your Original Compoitions (OCs) on Dropbox/Google Drive and fill in the link in the
          mentioned section. Make sure the link can be viewed by anyone who has it.
        </li>
        <li> In case the band doesn’t have 2 OCs you can upload one OC and one cover song.</li>
        <li> You can also send us links of your songs on Reverbnation instead of Dropbox/Google Drive.</li>
        <li> Please upload the best quality possible as these songs will be the short listing criteria for Prelims.</li>
        <li> You can also put the additional links such as your youtube links in the Other link section. If you have
          multiple such links, send all links separated by a comma.
        </li>
      </ul>
    </div>
    <div class="heading"> Registration Form </div>
      <div class="container-fluid">
          <form #junoon="ngForm">
                <div class="form-group">
                <label for="bandName">Band Name</label>
                <input type="text" class="form-control"  placeholder="Band Name">
                </div>
                <div class="form-group ">
                <label for="bandEmail">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email">
                </div>

                <div class="form-group ">
                    <label>City Name</label>
                    <select class="custom-select" >
                        <option selected>City</option>
                        <option *ngFor="let topic of topics">{{ topic }}</option>
                    </select>
                </div>
            
                <div class="form-group">
                    <label>Members</label>
                    <select class="custom-select" >
                        <option selected>Member</option>
                        <option *ngFor="let member of members">{{ member }}</option>
                    </select>
                </div>
                <div class="form-group">
                <label for="phone"> Contact No. </label>
                <input type="text" class="form-control"placeholder="">
                 </div>
                 <div class="form-group">
                 <label> Alternate No. </label>
                 <input type="text" class="form-control" placeholder="">
                 </div>
                 <div class="form-group">
                 <label for="songLink"> Songs Link </label>
                 <input type="text" class="form-control"placeholder="http://yoursong.com"
                    >
                 </div>
                 <div class="form-group">
                 <label for="moresongLink"> More Songs Link </label>
                 <input type="text" class="form-control" placeholder="http://yoursong.com" >
                 </div>
                 <div class="form-group">
                 <label for="fbLink"> Facebook Link </label>
                 <input type="text" class="form-control" placeholder="https://www.facebook.com/junoon.iitk">
                 </div>
                 <div class="form-group">
                 <label for="otherLink"> Other Links </label>
                 <input type="text" class="form-control"placeholder="">
                 </div>

                 <button type="submit" class="btn btn-primary mx-auto">
                   Submit Form
                 </button>
          </form>
          </div>
      </div>
     
      </div>