div {
    width: 100%;height: 5vh;
	background: rgba(0,0,0,0.2);
    color: white; display: flex;justify-content: space-between;align-items: center;text-transform: uppercase;
}
div .footer{
    width: 25%; text-align: center;
}
