<div class="header">
    <div class="nav">
        <div class="logo" fxLayout="row" fxLayoutAlign="center center">
            <div class="fontsize">Junoon</div>
        </div>
        <div class="menu" fxLayout="row" fxLayoutAlign="end center">
            <a routerLink="/">Home</a>
            <!-- <a routerLink="/about">About</a> -->
            <a routerLink="/contact">Contact</a>
            <a routerLink="/gallery">Gallery</a>
            <a routerLink="/register">Register</a>
            <a routerLink="/sponsors">Sponsors</a>
        </div>
    </div>
</div>