<header>
    <nav>
        <div class="logo" fxLayout="row" fxLayoutAlign="center center">
            <h1>Junoon</h1>
        </div>
        <div class="menu" fxLayout="row" fxLayoutAlign="center center">
            <a routerLink="/">Home  </a>
            <!-- <a routerLink="/about">About</a> -->
            <a routerLink="/contact">Contact</a>
            <a routerLink="/gallery">Gallery</a>
            <a routerLink="/register">Register</a>
            <a routerLink="/sponsors">Sponsors</a>
        </div>
    </nav>
</header>