.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.content {
    position: absolute;
    top: 15vh;
}
body{
    background: url("src\assets\1.jpg") 100% fixed;
}